/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* position: sticky; */
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    display: block;
  }

  .frame {
    flex-direction: column;
  }

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.frame {
  position:relative;
  /* background-color: lightgreen; */
  width: 100vw;
  padding: 5pt;
  overflow:hidden;
  flex-flow:row wrap;

  display: flex; /* Standard (Firefox 22+) */
  flex-direction: row;
}

.left {    

  order:1;

  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  /* background-color: #709670;
  border: 1px solid black; */
  width: auto;
}

.right {    
  
  order:2;
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  /* background-color: #127212;
  color: white;
  border: 1px solid black; */
  width: auto;
}

/* @media screen and (max-width: 1000px) {
  
} */
